:root {
  --light-grey: #ECF0F1;
  --light-green: #1ABC9C;
  --light-blue: #34495E;
  --dark-green: #16A085;
  --dark-blue: #2C3E50;
  --happy-font: "atma-happy", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "atma-happy";
  src: url("../fonts/happy_atma/atma-regular-webfont.woff2") format(woff2),
       url("../fonts/happy_atma/atma-regular-webfont.woff") format(woff);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
footer {
  text-align: center;
}

.library {
  flex-grow: 1;
}